* {
  padding: 0;
  margin: 0;
}
@font-face {
  src: url(../font/Poppins-Regular.ttf);
  font-family: Poppins;
}
body {
  background-color: rgba(0, 0, 0, 0.74);
}
.conteiner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* HEADER__TOP */
.header__top {
  min-height: 50px;
  background-color: #ba0000;
}
.header__topbody {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
}
.header__lang {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
}
.header__lang option {
  color: #000;
  background-color: #ffcc00;
  outline: none;
}
.header__r {
  display: flex;
}
.header__r span {
  padding: 0px 15px;
}
.header__prof {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
}
.header__prof option {
  color: #000;
  background-color: #ffcc00;
  outline: none;
}
/* *********************** */
/* HEADER */
.header {
  position: sticky;
  top: 0;
  min-height: 120px;
  background-color: #ffcc00;
  z-index: 2;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.header__menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menu__content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header__burger {
  display: none;
}
.menu__href {
  position: relative;
  color: #ba0000;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}
.menu__href::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 4px;
  background-color: #ba0000;
  bottom: -45px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.menu__href:hover {
  font-weight: bold;
}
.menu__href:hover::before {
  opacity: 1;
  visibility: visible;
}
.header__search {
  position: relative;
  min-width: 170px;
  margin-left: 50px;
}
.search__input {
  position: absolute;
  top: -5px;
  right: 0;
  width: 0;
  min-height: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  outline: none;
  padding-left: 15px;
  padding-right: 18px;
  color: #000;
  border: none;
}
.search__input.active__input {
  opacity: 1;
  visibility: visible;
  width: 100%;
  background-color: #fff;
}
.search__button {
  position: absolute;
  max-width: 50px;
  width: 100%;
  min-height: 50px;
  top: -15px;
  right: 0;
  border-radius: 50%;
  background-color: #ba0000;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.8s ease 0s;
}
.search__button::before {
  display: none;
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 10px;
  background-color: #000;
  transform: rotate(45deg);
}
.search__button::after {
  display: none;
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  left: 10px;
  background-color: #000;
  transform: rotate(-45deg);
}
.search__button.active__input::before {
  display: block;
}
.search__button.active__input::after {
  display: block;
}
.search__button.active__input {
  top: -5px;
  max-width: 30px;
  min-height: 30px;
  border-radius: 0px;
  background-color: #fff;
}
.search__button:hover {
  box-shadow: 0 10px 18px rgba(186, 0, 0, 0.4);
}
.search__button i {
  color: #fff;
}
.search__button.active__input i {
  display: none;
}
/* *********************** */
/* DELIVER */
.deliver {
  position: relative;
  min-height: 800px;
  background-size: 100% 100%;
  background-image: url(../img/Layer\ 3.png);
}
.deliver::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    45deg,
    #ba0000 25%,
    rgba(255, 204, 0, 0.24) 99%,
    rgba(255, 204, 0, 0) 100%
  );
}
.deliver__body {
  position: relative;
  padding: 0px 20px;
}
.deliver__title {
  max-width: 440px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 70px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 80px;
  padding-top: 179px;
}
.deliver__hr {
  margin-top: 40px;
  max-width: 100px;
  min-height: 4px;
  background-color: #ffcc00;
}
.deliver__text {
  max-width: 747px;
  color: #ffcc00;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  padding-top: 40px;
}
.deliver__amazing {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 40px;
}
.deliver__amazing span {
  color: #ffcc00;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
  padding: 0px 30px;
}
.deliver__btncont {
  margin-top: 40px;
  display: flex;
}
.deliver__btn {
  color: #fff;
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  padding: 12px 30px;
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.8s ease 0s;
}
.deliver__btn:nth-child(2) {
  margin-left: 20px;
}
.deliver__btn:hover {
  color: #ba0000;
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  font-weight: bold;
}
/* *********************** */
/* SERVICES */
.services {
  position: relative;
  background-color: #fff;
  min-height: 732px;
}
.services__body {
}
.services__title {
  position: relative;
  max-width: 752px;
  padding-top: 100px;
}
.services__title p:nth-child(1) {
  color: #f8f8f8;
  font-family: Poppins;
  font-size: 150px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 80px;
  text-align: left;
  text-transform: uppercase;
}
.services__title p:nth-child(2) {
  top: 100px;
  color: #ba0000;
  position: absolute;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.services__content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 79px;
}
.services__block {
  max-width: 270px;
  min-height: 340px;
  margin-right: 30px;
}
.services__block:nth-child(4){
  margin: 0;
}
.services__btitle {
  color: #ba0000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 50px;
  text-align: left;
  text-transform: uppercase;
}
.services__btext {
  color: #777777;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
}
.services__btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  color: #222222;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  margin-top: 10px;
}
.fa-sort-asc {
  transform: rotate(90deg);
  color: #ba0000;
}
.services__tap {
}
.ser__taptitle {
}
.ser__taphr {
}
.ser__taptext {
}
.ser__tapselect {
}
.ser__tapexp {
}
/* *********************** */
@media (max-width: 1000px) {
  .deliver {
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 950px) {
  /* HEADER */
  .header__menu {
    position: fixed;
    top: -200%;
    left: 0;
    max-width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffcc00;
    z-index: 1;
  }
  .menu__content {
    width: 90vw;
    height: 80vh;
    right: 0;
    left: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .menu__href:nth-child(1) {
    border-top: 1px solid #666;
  }
  .menu__href {
    max-width: 80vw;
    width: 100%;
    color: #ba0000;
    padding: 10px 0px;
    border-bottom: 1px solid #666;
    margin: 0 auto;
    text-align: start;
  }
  .menu__href::before {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    max-width: 30px;
    width: 100%;
    min-height: 20px;
    margin-right: 10px;
    z-index: 1;
    cursor: pointer;
  }
  .header__burger.active__menu {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .header__burger.active__menu::after {
    width: 30px;
    top: 9px;
    transform: rotate(315deg);
    transition: all 0.8s ease 0s;
  }
  .header__burger.active__menu::before {
    width: 30px;
    top: 9px;
    transform: rotate(-315deg);
    transition: all 0.8s ease 0s;
  }
  .header__burger.active__menu span {
    transform: scale(0);
  }
  .header__burger span {
    position: absolute;
    width: 25px;
    height: 2px;
    top: 9px;
    background-color: #ba0000;
  }
  .header__burger::before {
    position: absolute;
    content: "";
    top: 0;
    width: 30px;
    height: 2px;
    background-color: #ba0000;
  }
  .header__burger::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 20px;
    height: 2px;
    background-color: #ba0000;
  }
  .header__menu.active__menu {
    top: 0;
  }
  .header__search {
    position: absolute;
    right: 36px;
    bottom: 140px;
  }
  /* *********************** */
}
